header {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    padding: 14px 20px;
    backdrop-filter: blur(10px);

}



nav {
    background-color: #000000;
    text-align: center;
}


a {
    display: inline-flex;
    align-items: center;
    color: #ffffff;
    font-size: 16px;
    font-family: "Inter";
    font-weight: 400;
    text-decoration: none;
    margin-right: 60px;
    margin-top: 7px;
   
}






#button {
    display: inline-block;
    padding: 14px 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #797979;
    transition: transform 100ms linear, opacity 200ms ease-in-out;

}

#button:hover {
    transform: scale(1.02);
    opacity: 0.9;

}

body {
    background-color: #ffffff
    
}











#alternancia {
  margin-top: 50px;
  text-align: center;
  font-family: "Inter";
}

.toggle-container-custom {
  display: inline-flex;
  background-color: #1f1f1f;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.toggle-button-custom {
  padding: 08px 90px;
  background: none;
  border: none;
  font-family: Inter;
  color:#616161;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.5s, color 0.3s;
  

}

.toggle-button-custom.active {
  background-color: #484848;
  color: #fff;
}

.content-grid-custom {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(147px, 1fr));
  gap: 17px 20px;
  max-width: 600px;
  margin: 0 auto;
}

.box-custom {
  border: 2px solid #474747;
  border-radius: 10px;
  padding: 12px;
  color: white;
}