











body {
    background-color: #000000;
    
    
}

h2 {

  font-family: "Inter";
  font-size: 210px;
  font-style: Bold;
  font-weight: 1500;
  line-height: normal;
  opacity: 0.71;
  background: linear-gradient(91deg, #1f1f1f 0.13%, #d1d1d1 100.28%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 230px;
  position: relative;
  left: 730px;

}













#alternancia {
  margin-top: 50px;
  text-align: center;
  font-family: "Inter";
}

.toggle-container-custom {
  display: inline-flex;
  background-color: #1f1f1f;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.toggle-button-custom {
  padding: 08px 90px;
  background: none;
  border: none;
  font-family: Inter;
  color:#616161;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.5s, color 0.3s;
  

}

.toggle-button-custom.active {
  background-color: #484848;
  color: #fff;
}

.content-grid-custom {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(147px, 1fr));
  gap: 17px 20px;
  max-width: 600px;
  margin: 0 auto;
}

.box-custom {
  border: 2px solid #474747;
  border-radius: 10px;
  padding: 12px;
  color: white;
}