.box {
    display: block;
    align-items: center;
    justify-content: center;
    background-color: #161616;
    width: 1213px;
    height: 448px;
    border-radius: 20px;
    border: 1px solid #535353;
    margin: 0 auto;
    margin-top: 400px;
    
}

h3 {
   
    
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

h4 {

    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    color: #fff;
}