h1 {
    color: #fff;
    font-size: 200px;
    font-family: "Inter";
    margin-top: 300px;
}

.title.-second {
 
  font-family: "Inter";
  font-size: 210px;
  font-style: Bold;
  font-weight: 1500;
  line-height: normal;
  opacity: 0.71;
  background: linear-gradient(91deg, #1f1f1f 0.13%, #d1d1d1 100.28%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 230px;
  position: relative;
  left: 730px;


}